.hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.overlay h1 {
  font-size: px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #339cff; /* lighter blue */
  transition: all 0.3s ease; /* smooth color change */
}
